# Directories to keep out of version control.
mu-plugins
plugins
themes
updraft
upgrade
uploads
vendor

# Explicitly include code specific to this project.
!plugins/stevegrunwell/*
!themes/grunwell-2018/*

# Files that are created as symlinks in appropriate environments.
advanced-cache.php
object-cache.php

# Log files
debug.log

# System files
.DS_Store
